In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/01_house_price_2019_03.csv', squeeze=True)

## column의 value가 unique 한지 여부 체크

In [4]:
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [5]:
df['지역명'].is_unique

False

In [6]:
df.index.is_unique

True

## DataFrame의 dimension

In [7]:
df.ndim

2

## DataFrame의 (row, col)

In [8]:
df.shape

(3570, 5)

## DataFrame의 size 확인

In [9]:
df.size

17850

In [10]:
df.shape[0] * df.shape[1]

17850

## 특정 column의 name 바꾸기 (column명이 바뀌는 것은 아님)

In [11]:
df['지역명'].head()

0    서울
1    서울
2    서울
3    서울
4    서울
Name: 지역명, dtype: object

In [12]:
df['지역명'].name = 'TEST'

In [13]:
df['지역명'].name

'TEST'

In [14]:
df['지역명'].head()

0    서울
1    서울
2    서울
3    서울
4    서울
Name: TEST, dtype: object