In [3]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
df = pd.read_csv('data/01_house_price_2019_03.csv', squeeze=True)

In [4]:
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [19]:
df.rename(columns={'분양가격(㎡)':'분양가'}, inplace=True)

In [20]:
df.head()

  지역명               규모구분    연도   월   분양가
0  서울                 전체  2015  10  5841
1  서울         전용면적 60㎡이하  2015  10  5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4  서울        전용면적 102㎡초과  2015  10  5879

## 타입 변경 (object -> float)

In [54]:
df['분양가'].dtypes

dtype('float32')

coerce = 강제, ignore = 무시

In [55]:
df['분양가'] = pd.to_numeric(df['분양가'], errors='coerce', downcast='float')

In [56]:
df['분양가'].dtypes

dtype('float32')

## 정렬 (sort)

In [57]:
df['분양가'].sort_values().head()

138    1868.0
571    1900.0
237    1906.0
152    1906.0
322    1906.0
Name: 분양가, dtype: float32

In [58]:
df['분양가'].sort_values(ascending=True).head()

138    1868.0
571    1900.0
237    1906.0
152    1906.0
322    1906.0
Name: 분양가, dtype: float32

In [59]:
df['분양가'].sort_values(ascending=False).head()

3487    8191.0
3402    8141.0
3317    8105.0
2638    8098.0
513     8096.0
Name: 분양가, dtype: float32

In [60]:
df['지역명'].sort_values().head()

1831    강원
896     강원
895     강원
215     강원
216     강원
Name: 지역명, dtype: object

In [61]:
df['지역명'].sort_values(ascending=False).head()

1495    충북
732     충북
1328    충북
1327    충북
1326    충북
Name: 지역명, dtype: object

## Inplace로 sort_values 적용

In [68]:
sort_df = df['분양가'].copy()

In [70]:
sort_df.sort_values(ascending=False, inplace=True)

In [72]:
sort_df.head(10)

3487    8191.0
3402    8141.0
3317    8105.0
2638    8098.0
513     8096.0
3232    7890.0
1958    7887.0
2468    7823.0
2553    7823.0
3319    7787.0
Name: 분양가, dtype: float32

## Sort Index를 통하여 index로 sort

In [74]:
sort_df.sort_index().head(10)

0    5841.0
1    5652.0
2    5882.0
3    5721.0
4    5879.0
5    3163.0
6    3488.0
7    3119.0
8    3545.0
9    3408.0
Name: 분양가, dtype: float32